{% extends "base.html.twig" %}

{% block title %}
	Admin des articles
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('admin') }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Administration des articles</h1>
		<a href="{{ path('admin.article.create') }}" class="btn btn-primary">
			<i class="bi bi-plus"></i>
			Créer un article
		</a>
		<div class="mt-4 blog-list">
			{% for article in articles %}
				{% include 'Components/_cardArticle.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
