<div class="blog-card">
	<a href="{{ path('app.article.show', {slug: article.slug}) }}">
		{% for image in article.images|slice(0,1) %}
			<div class="blog-card-image">
				<img src="{{ vich_uploader_asset(image) }}" alt="{{ article.title }}">
			</div>
		{% else %}
			<div class="blog-card-image">
				<img src="https://picsum.photos/350/240" alt="">
			</div>
		{% endfor %}
	</a>
	<div class="blog-card-content">
		<p class="blog-card-date">
			<i class="bi bi-calendar2-week-fill"></i>
			{{ article.createdAt|format_datetime('full', 'none') }}
		</p>
		<a href="{{ path('app.article.show', {slug: article.slug}) }}">
			<h2 class="blog-card-header">{{ article.title }}</h2>
		</a>
		<p class="blog-card-description">{{ article.content|striptags|slice(0,100) ~ '...' }}</p>
		{% for categorie in article.categories %}
			<em class="text-muted">#{{ categorie.title }}</em>
		{% endfor %}

		<div class="author mt-2">
			<i class="bi bi-person-circle"></i>
			{{ article.author.fullName }}
		</div>
		{% if app.request.get('_route') == 'admin.article.index' %}
			<div class="row mt-4">
				<div class="col-md-6">
					<a href="{{ path('admin.article.update', {id: article.id}) }}" class="btn btn-warning">
						<i class="bi bi-pencil-square"></i>
						Modifier
					</a>
				</div>
				<div class="col-md-6">
					{% include 'Backend/Article/_formDelete.html.twig' %}
				</div>
				{% if article.comments|length > 0 %}
					<div class="col-md-12 mt-2">
						<a href="{{ path('admin.comment.index', {id: article.id}) }}" class="btn btn-info">
							<i class="bi bi-chat"></i>
							Commentaires</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
