<div class="blog-card">
	{% if article.imageName %}
		<a href="#">
			<div class="blog-card-image">
				<img src="{{ vich_uploader_asset(article) }}" alt="{{ article.title }}">
			</div>
		</a>
	{% endif %}
	<div class="blog-card-content">
		<p class="blog-card-date">
			<i class="bi bi-calendar2-week-fill"></i>
			{{ article.createdAt|format_datetime('full', 'none') }}
		</p>
		<a href="#">
			<h2 class="blog-card-header">{{ article.title }}</h2>
		</a>
		<p class="blog-card-description">{{ article.content|slice(0,100) ~ '...' }}</p>
		{% if app.request.get('_route') == 'admin.article.index' %}
			<div class="row">
				<div class="col-md-6">
					<a href="{{ path('admin.article.update', {id: article.id}) }}" class="btn btn-warning">
						<i class="bi bi-pencil-square"></i>
						Modifier
					</a>
				</div>
				<div class="col-md-6">
					{% include 'Backend/Article/_formDelete.html.twig' %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
