{{ form_start(form, {'attr': {'class': 'form-filter card p-3 js-filter-form'}}) }}

<div class="loader">
	<div class="js-loading spinner-grow text-primary" role="status" aria-hidden="true" style="display: none">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

{{ form_row(form.query) }}

<h3 class="mb-2">Catégories</h3>
{{ form_row(form.tags, {'attr': {'class': 'filter-choice d-flex flex-wrap gap-2'}}) }}

<h3 class="mb-2">Auteurs</h3>
{{ form_row(form.authors, {'attr': {'class': 'filter-choice d-flex flex-wrap gap-2'}}) }}

<button type="reset" class="btn btn-primary" id="btn-reset-filter">Reinitialiser les filtres</button>

{{ form_end(form, {render_rest: false}) }}
